@import "tailwindcss";
@plugin "daisyui";

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632ee3;
  --color-secondary: teal;
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #9f62f2;
  --color-secondary: #632ee3;
}

/* Customize DaisyUI btn-primary with gradient */
.btn-primary {
  background: linear-gradient(90deg, #632ee3, #9f62f2) !important;
  border: none !important;
  color: white !important;
}

/* Hover state */
.btn-primary:hover {
  background: linear-gradient(90deg, #5727ca, #8c54d8) !important;
  border: none !important;
  color: white !important;
}
